body {
  background-color: rgb(169,91,44);
}

.main {
  margin: 100px;
  width: 1700px;
  background-image: url(./d6uEIlQ.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  border-style: solid;
}

div{
  display: grid;
  grid-auto-rows: 0.3fr , 0.3fr , 0.3fr,0.3fr,1fr;
  justify-content: center;
  align-items: start;
}
#h {
  color: rgb(60, 5, 109);
  font-family: fantasy;
  font-size: 80px;
  text-align: center;
  text-shadow: darkgoldenrod 3px 1px;
  background-color: rgb(63,127,208);
}

.h {
  margin-top: 200px;
  font-family: fantasy;
  font-size: 100px;
  text-align: center;
  color: rgb(254,254,255);
}

#counter{
  font-family: fantasy;
  font-size: 100px;
  color: rgb(59,19,5);
  text-shadow: rgb(246,209,57) 3px 1px;
}

img {
  width: 200px;
  height: 200px;
  margin-left: 250px;
  border-style: solid ;
}
.half {
  display: grid;
  justify-content: center;
}

.button {
  background-color: rgba(108, 71, 48, 0.863);
  color: rgb(240, 230, 187);
  font-size: 28px;
  margin-right: 280px;
  margin-top: 560px;
  border-style: groove;
  border-color:rgb(240, 230, 187) ;
  width: 600px;
  height: 100px;
  border-radius: 8px;
}


#div{
  display: grid;
  flex-direction: column;
  gap: 0px;
  color: rgb(246,209,57);
  font-family: fantasy;
  font-size: 100px;
  text-shadow: darkgoldenrod 3px 1px;
}

#div1{
  margin-top: -50px;
}
#divWord{
  display: flex;
  justify-content: center;
  gap: 32px;
  height: 20px;
  width: 100%;
  text-shadow: rgba(184, 135, 11, 0) 3px 1px ;
  color: rgba(246,209,57,0);
}


#divSpace{
  display: flex;
  justify-content: center;
  gap: 22px;
  width: 100%;
  height: 20px;
}


#divChar {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(10, 100px);
  width: 700px;
  margin-top: 250px;
}

button{
  background-color: rgb(59,19,5);
  color: rgb(246,209,57);
  text-shadow: 1px 1px 2px;
  font-size: 28px;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor:pointer;
}


#dd{
  display: flex;
  align-items:flex-start;
  margin-top: 230px;
  justify-content: center;
}


#img2{
  margin-right: 300px;
  margin-left: 110px;
  border-radius: 60%;
  width: 150px;
  height: 150px;
}


#img1{
  margin-left: 300px;
  margin-right: 0px;
  border-radius: 60%;
  width: 150px;
  height: 150px;
}




.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(59,19,5);
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border-style: solid;
  border-color: black;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn19 {
    background-image: linear-gradient(
      to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19
    );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}



.half1{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  margin-top: 330px;
  margin-right: 200px;
}


.select{
  color: #e85a19;
  text-shadow: 6px  6px 4px black ;
  font-size: 83px;
  margin-top: 10px;
  margin-left: 120px;
}